ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
	background: #159cb0 url(../imagens/horizontal_navigation/fundo-horizontal.png) repeat-x; 
	float: left;
}

ul li {
	float: left;
}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/horizontal_navigation/divisor.png) repeat-y;
}

ul .primeiro a {
	background: none;
}

ul a:hover {
	color: #085662;
	background: #44cade;
}
