body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container {
	width: 85%;
	margin: 0 auto;
	background: #fff;
	min-width: 720px;
}

#marca { 
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;	
}

#conteudo {
	width: 75%;
	float: right;
}

#primario {
	width: 63%;
	float: left;
}

#secundario {
	width: 34%px;
	float: right;
	background: #d1d1d1;
}

#navegacao {
	width: 23%;
	float: left;
	padding-top: 20px 0px;
	background: #d1d1d1;
}

#navegacao ul {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}


#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}


