ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul a {
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: url(../imagens/vertical_navigation/menu.png) left bottom;
}

a:hover, .selecionado a {
	background-position: right bottom;
	color: #fff;
}