@keyframes animation_box {
	from {
		background: red;
		border-radius: 0px;
		top: 0;
		left: 0;
	}
	to {
		background: green;
		border-radius: 300px;
		top: 200px;
		left: 200px;
	}
}


#box {
	width: 300px;
	height: 300px;
	background: red
;	position: relative;
	/*animation-name: animation_box;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: 2;
	animation-direction: alternate;*/
	animation: animation_box 5s 3s 2 alternate; /* name, duration, delay, count, direction */
}