#box {
	width: 300px;
	height: 300px;
	background: url(../imagens/degrade/camera.png);
	background: linear-gradient(45deg, red, green, red);
	background: radial-gradient(red, green, red);
}

#box h1 {
	background: rgba(255,255,255,0);
}