#conteudo {
	background: #dcdcdc;
	height: 600px;
	display: flex;
	/* flex-direction: row; /* row row-reverse column column-reverse */
	/* flex-wrap: wrap; /* nowrap wrap wrap-reverse */
	/* justify-content: center; /* flex-start flex-end center space-between space-around */
	/* align-items: center; /* stretch center flex-start flex-end baseline */
}	

.item {
	background: white;
	border: 1px solid gray;
	width: 100px;
	height: 100px;
	margin: 10px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 0; /* define o tamanho inicial antes da distribuicao de tamanho dos items */
}

/* .item1 {
	flex-grow: 1;
}

/* .ordem1{
	order: 1;
}

.ordem2{
	order: 2;
}

.ordem3{
	order: 3;
}

.ordem4{
	order: 4;
} */