#box {
	width: 300px;
	height: 300px;
	padding: 8px;
	margin: 20px;
	background: #009670;	
	box-shadow: 20px 20px black; /* msm coisa do text-shadow */
}

#box h1 {
	color: white;
	text-shadow: 5px 5px 5px black; /* horizontal, vertical, blur, spread,cor */
}